<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('用户订单记录列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>用户名：</p>
                                <input type="text" name="username"/>
                            </li>
                            <li>
                                <p>所属代理：</p>
                                <input type="text" name="agent"/>
                            </li>
                            <li>
                                <p>商户号：</p>
                                <input type="text" name="merchantNo"/>
                            </li>
                            <li>
                                <p>系统订单号：</p>
                                <input type="text" name="sysOrderNo"/>
                            </li>
                            <li>
                                <p>商户订单号：</p>
                                <input type="text" name="merOrderNo"/>
                            </li>
                            <li>
                                <p>支付方式：</p>
                                <select name="payType" th:with="type=${@dict.getType('sys_receipt_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>订单状态：</p>
                                <select name="orderStatus" th:with="type=${@dict.getType('sys_order_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>回调状态：</p>
                                <select name="notifyStatus" th:with="type=${@dict.getType('sys_notify_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zy:userorder:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="zy:userorder:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zy:userorder:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zy:userorder:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zy:userorder:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zy:userorder:remove')}]];
        var payTypeDatas = [[${@dict.getType('sys_receipt_type')}]];
        var orderStatusDatas = [[${@dict.getType('sys_order_status')}]];
        var notifyStatusDatas = [[${@dict.getType('sys_notify_status')}]];
        var prefix = ctx + "zy/userorder";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "用户订单记录",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '编号',
                    visible: false
                },
                {
                    field : 'username', 
                    title : '用户名'
                },
                {
                    field : 'agent', 
                    title : '所属代理'
                },
                {
                    field : 'merchantNo', 
                    title : '商户号'
                },
                {
                    field : 'sysOrderNo', 
                    title : '系统订单号'
                },
                {
                    field : 'merOrderNo', 
                    title : '商户订单号'
                },
                {
                    field : 'payType', 
                    title : '支付方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(payTypeDatas, value);
                    }
                },
                {
                    field : 'orderAmount', 
                    title : '订单金额'
                },
                {
                    field : 'payAmount', 
                    title : '实际支付金额'
                },
                {
                    field : 'orderStatus', 
                    title : '订单状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(orderStatusDatas, value);
                    }
                },
                {
                    field : 'payTime', 
                    title : '订单创建时间'
                },
                {
                    field : 'confirmTime', 
                    title : '订单确认时间'
                },
                {
                    field : 'confirmUser', 
                    title : '订单确认人'
                },
                {
                    field : 'notifyStatus',
                    title : '回调状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(notifyStatusDatas, value);
                    }
                },
                {
                    field : 'failureReason',
                    title : '回调失败原因'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {

                        var username = row.username;
                        var merOrderNo = row.merOrderNo;
                        var orderAmount = row.orderAmount;
                        var payTime = row.payTime;
                        var notifyUrl = row.notifyUrl;
                        var orderStatus = row.orderStatus;
                        var actions = [];
                        if(orderStatus == 0){
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="resume(\''+username+ '\',\''+merOrderNo+ '\',\''+orderAmount+ '\',\''+payTime+ '\')">' +
                            '<i class="fa fa-edit"></i>恢复订单</a> ');
                        }
                        if(orderStatus == 1){
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="confirm(\''+username+ '\',\''+merOrderNo+ '\',\''+orderAmount+ '\',\''+payTime+ '\',\''+notifyUrl+ '\')">' +
                            '<i class="fa fa-edit"></i>手动确认收款</a> ');
                        	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="cancel(\''+username+ '\',\''+merOrderNo+ '\',\''+orderAmount+ '\',\''+payTime+ '\')">' +
                            '<i class="fa fa-edit"></i>取消</a> ');
                        }
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function confirm(a,b,c,d,e) {
            var data = {notifyUrl : e,merOrderNo : b };
            $.modal.confirm("确认要手动收款吗？<br/>用户名:"+a+"<br/>商户订单号:" + b +"<br/>订单金额：" + c +"<br/>订单时间:"+d, function() {
                $.operate.post(prefix+"/callback",data,function (res) {
                	
                })
            })
        }
        
        function cancel(a,b,c,d) {
            var data = {merOrderNo : b };
            $.modal.confirm("确认要取消订单吗？<br/>用户名:"+a+"<br/>商户订单号:" + b +"<br/>订单金额：" + c +"<br/>订单时间:"+d, function() {
                $.operate.post(prefix+"/cancel",data,function (res) {
                	
                })
            })
        }
        
        function resume(a,b,c,d) {
            var data = {merOrderNo : b };
            $.modal.confirm("确认要恢复订单吗？<br/>用户名:"+a+"<br/>商户订单号:" + b +"<br/>订单金额：" + c +"<br/>订单时间:"+d, function() {
                $.operate.post(prefix+"/resume",data,function (res) {
                	
                })
            })
        }

    </script>
</body>
</html>