<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zy.mapper.BReceiptBankMapper">
    
    <resultMap type="BReceiptBank" id="BReceiptBankResult">
        <result property="id"    column="id"    />
        <result property="bankCode"    column="bank_code"    />
        <result property="bankName"    column="bank_name"    />
        <result property="accountName"    column="account_name"    />
        <result property="accountNo"    column="account_no"    />
        <result property="accountAddress"    column="account_address"    />
        <result property="amount"    column="amount"    />
        <result property="flag"    column="flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
    </resultMap>

    <sql id="selectBReceiptBankVo">
        select id, bank_code, bank_name, account_name, account_no, account_address, amount, flag, create_time, create_user, update_time, update_user from b_receipt_bank
    </sql>

    <select id="selectBReceiptBankList" parameterType="BReceiptBank" resultMap="BReceiptBankResult">
        <include refid="selectBReceiptBankVo"/>
        <where>  
            <if test="bankCode != null  and bankCode != ''"> and bank_code = #{bankCode}</if>
            <if test="bankName != null  and bankName != ''"> and bank_name like concat('%', #{bankName}, '%')</if>
            <if test="accountName != null  and accountName != ''"> and account_name like concat('%', #{accountName}, '%')</if>
            <if test="accountNo != null  and accountNo != ''"> and account_no = #{accountNo}</if>
            <if test="accountAddress != null  and accountAddress != ''"> and account_address = #{accountAddress}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="flag != null  and flag != ''"> and flag = #{flag}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
        </where>
    </select>
    
    <select id="selectBReceiptBankById" parameterType="Long" resultMap="BReceiptBankResult">
        <include refid="selectBReceiptBankVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBReceiptBank" parameterType="BReceiptBank" useGeneratedKeys="true" keyProperty="id">
        insert into b_receipt_bank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bankCode != null  and bankCode != ''">bank_code,</if>
            <if test="bankName != null  and bankName != ''">bank_name,</if>
            <if test="accountName != null  and accountName != ''">account_name,</if>
            <if test="accountNo != null  and accountNo != ''">account_no,</if>
            <if test="accountAddress != null  and accountAddress != ''">account_address,</if>
            <if test="amount != null ">amount,</if>
            <if test="flag != null  and flag != ''">flag,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createUser != null  and createUser != ''">create_user,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateUser != null  and updateUser != ''">update_user,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bankCode != null  and bankCode != ''">#{bankCode},</if>
            <if test="bankName != null  and bankName != ''">#{bankName},</if>
            <if test="accountName != null  and accountName != ''">#{accountName},</if>
            <if test="accountNo != null  and accountNo != ''">#{accountNo},</if>
            <if test="accountAddress != null  and accountAddress != ''">#{accountAddress},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="flag != null  and flag != ''">#{flag},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
         </trim>
    </insert>

    <update id="updateBReceiptBank" parameterType="BReceiptBank">
        update b_receipt_bank
        <trim prefix="SET" suffixOverrides=",">
            <if test="bankCode != null  and bankCode != ''">bank_code = #{bankCode},</if>
            <if test="bankName != null  and bankName != ''">bank_name = #{bankName},</if>
            <if test="accountName != null  and accountName != ''">account_name = #{accountName},</if>
            <if test="accountNo != null  and accountNo != ''">account_no = #{accountNo},</if>
            <if test="accountAddress != null  and accountAddress != ''">account_address = #{accountAddress},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="flag != null  and flag != ''">flag = #{flag},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="createUser != null  and createUser != ''">create_user = #{createUser},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="updateUser != null  and updateUser != ''">update_user = #{updateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBReceiptBankById" parameterType="Long">
        delete from b_receipt_bank where id = #{id}
    </delete>

    <delete id="deleteBReceiptBankByIds" parameterType="String">
        delete from b_receipt_bank where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>