<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zy.mapper.BUserOrderMapper">
    
    <resultMap type="BUserOrder" id="BUserOrderResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="agent"    column="agent"    />
        <result property="merchantNo"    column="merchant_no"    />
        <result property="sysOrderNo"    column="sys_order_no"    />
        <result property="merOrderNo"    column="mer_order_no"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderAmount"    column="order_amount"    />
        <result property="payAmount"    column="pay_amount"    />
        <result property="orderFeeAmount"    column="order_fee_amount"    />
        <result property="orderCommissionAmount"    column="order_commission_amount"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="orderRemark"    column="order_remark"    />
        <result property="confirmTime"    column="confirm_time"    />
        <result property="confirmUser"    column="confirm_user"    />
        <result property="notifyUrl"    column="notify_url"    />
        <result property="notifyStatus"    column="notify_status"    />
        <result property="notifyNum"    column="notify_num"    />
        <result property="failureReason"    column="failure_reason"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBUserOrderVo">
        select id, username, agent, merchant_no, sys_order_no, mer_order_no, pay_type, order_amount, pay_amount, order_fee_amount, order_commission_amount, order_status, pay_time, order_remark, confirm_time, confirm_user, notify_url, notify_status, notify_num, failure_reason, create_time from b_user_order
    </sql>

    <select id="selectBUserOrderList" parameterType="BUserOrder" resultMap="BUserOrderResult">
        <include refid="selectBUserOrderVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username = #{username}</if>
            <if test="agent != null  and agent != ''"> and agent = #{agent}</if>
            <if test="merchantNo != null  and merchantNo != ''"> and merchant_no = #{merchantNo}</if>
            <if test="sysOrderNo != null  and sysOrderNo != ''"> and sys_order_no = #{sysOrderNo}</if>
            <if test="merOrderNo != null  and merOrderNo != ''"> and mer_order_no = #{merOrderNo}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
            <if test="notifyStatus != null  and notifyStatus != ''"> and notify_status = #{notifyStatus}</if>
        </where>
    </select>

    <!-- 查询用户订单金额  -->
    <select id="getOrderMoneyList" resultType="java.util.Map">
          SELECT
            d.dict_label dictLabel,
            t.order_amount orderAmount,
            t.agent,
            ud.earnest_money earnestMoney,
            (
                ud.earnest_money - ud.receipt_amount
            ) money,
            t.pay_time payTime
        FROM
            b_user_order t
        LEFT JOIN b_user_deposit ud ON t.agent = ud.agent
        left join sys_dict_data d on d.dict_value = t.pay_type
        <where>
            <if test="username != null  and username != ''"> and t.username = #{username}</if>
            <if test="payType != null  and payType != ''"> and t.pay_type = #{payType}</if>
            <if test="agent != null  and agent != ''"> and t.agent = #{agent}</if>
            and  DATE_FORMAT(t.pay_time,'%Y%m%d') =DATE_FORMAT( now(),'%Y%m%d')
        </where>
        group by t.agent,t.pay_type
    </select>

    <select id="selectBUserOrderById" parameterType="Long" resultMap="BUserOrderResult">
        <include refid="selectBUserOrderVo"/>
        where id = #{id}
    </select>
    
    <select id="selectBUserOrderByOrderNo" parameterType="String" resultMap="BUserOrderResult">
        <include refid="selectBUserOrderVo"/>
        where mer_order_no = #{orderNo}
    </select>
        
    <insert id="insertBUserOrder" parameterType="BUserOrder" useGeneratedKeys="true" keyProperty="id">
        insert into b_user_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">username,</if>
            <if test="agent != null  and agent != ''">agent,</if>
            <if test="merchantNo != null  and merchantNo != ''">merchant_no,</if>
            <if test="sysOrderNo != null  and sysOrderNo != ''">sys_order_no,</if>
            <if test="merOrderNo != null  and merOrderNo != ''">mer_order_no,</if>
            <if test="payType != null  and payType != ''">pay_type,</if>
            <if test="orderAmount != null ">order_amount,</if>
            <if test="payAmount != null ">pay_amount,</if>
            <if test="orderFeeAmount != null ">order_fee_amount,</if>
            <if test="orderCommissionAmount != null ">order_commission_amount,</if>
            <if test="orderStatus != null  and orderStatus != ''">order_status,</if>
            <if test="payTime != null ">pay_time,</if>
            <if test="orderRemark != null  and orderRemark != ''">order_remark,</if>
            <if test="confirmTime != null ">confirm_time,</if>
            <if test="confirmUser != null  and confirmUser != ''">confirm_user,</if>
            <if test="notifyUrl != null  and notifyUrl != ''">notify_url,</if>
            <if test="notifyStatus != null  and notifyStatus != ''">notify_status,</if>
            <if test="notifyNum != null ">notify_num,</if>
            <if test="failureReason != null  and failureReason != ''">failure_reason,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">#{username},</if>
            <if test="agent != null  and agent != ''">#{agent},</if>
            <if test="merchantNo != null  and merchantNo != ''">#{merchantNo},</if>
            <if test="sysOrderNo != null  and sysOrderNo != ''">#{sysOrderNo},</if>
            <if test="merOrderNo != null  and merOrderNo != ''">#{merOrderNo},</if>
            <if test="payType != null  and payType != ''">#{payType},</if>
            <if test="orderAmount != null ">#{orderAmount},</if>
            <if test="payAmount != null ">#{payAmount},</if>
            <if test="orderFeeAmount != null ">#{orderFeeAmount},</if>
            <if test="orderCommissionAmount != null ">#{orderCommissionAmount},</if>
            <if test="orderStatus != null  and orderStatus != ''">#{orderStatus},</if>
            <if test="payTime != null ">#{payTime},</if>
            <if test="orderRemark != null  and orderRemark != ''">#{orderRemark},</if>
            <if test="confirmTime != null ">#{confirmTime},</if>
            <if test="confirmUser != null  and confirmUser != ''">#{confirmUser},</if>
            <if test="notifyUrl != null  and notifyUrl != ''">#{notifyUrl},</if>
            <if test="notifyStatus != null  and notifyStatus != ''">#{notifyStatus},</if>
            <if test="notifyNum != null ">#{notifyNum},</if>
            <if test="failureReason != null  and failureReason != ''">#{failureReason},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBUserOrder" parameterType="BUserOrder">
        update b_user_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="agent != null  and agent != ''">agent = #{agent},</if>
            <if test="merchantNo != null  and merchantNo != ''">merchant_no = #{merchantNo},</if>
            <if test="sysOrderNo != null  and sysOrderNo != ''">sys_order_no = #{sysOrderNo},</if>
            <if test="merOrderNo != null  and merOrderNo != ''">mer_order_no = #{merOrderNo},</if>
            <if test="payType != null  and payType != ''">pay_type = #{payType},</if>
            <if test="orderAmount != null ">order_amount = #{orderAmount},</if>
            <if test="payAmount != null ">pay_amount = #{payAmount},</if>
            <if test="orderFeeAmount != null ">order_fee_amount = #{orderFeeAmount},</if>
            <if test="orderCommissionAmount != null ">order_commission_amount = #{orderCommissionAmount},</if>
            <if test="orderStatus != null  and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="payTime != null ">pay_time = #{payTime},</if>
            <if test="orderRemark != null  and orderRemark != ''">order_remark = #{orderRemark},</if>
            <if test="confirmTime != null ">confirm_time = #{confirmTime},</if>
            <if test="confirmUser != null  and confirmUser != ''">confirm_user = #{confirmUser},</if>
            <if test="notifyUrl != null  and notifyUrl != ''">notify_url = #{notifyUrl},</if>
            <if test="notifyStatus != null  and notifyStatus != ''">notify_status = #{notifyStatus},</if>
            <if test="notifyNum != null ">notify_num = #{notifyNum},</if>
            <if test="failureReason != null  and failureReason != ''">failure_reason = #{failureReason},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBUserOrderById" parameterType="Long">
        delete from b_user_order where id = #{id}
    </delete>

    <delete id="deleteBUserOrderByIds" parameterType="String">
        delete from b_user_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>