<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zy.mapper.BUserWithdrawalMapper">
    
    <resultMap type="BUserWithdrawal" id="BUserWithdrawalResult">
        <result property="id"    column="id"    />
        <result property="depositId"    column="deposit_id"    />
        <result property="username"    column="username"    />
        <result property="commissionAmount"    column="commission_amount"    />
        <result property="receiptQrcodeUrl"    column="receipt_qrcode_url"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="paymentUrl"    column="payment_url"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="confirmTime"    column="confirm_time"    />
    </resultMap>

    <sql id="selectBUserWithdrawalVo">
        select id, deposit_id, username, commission_amount, receipt_qrcode_url, order_status, create_time, payment_url, payment_time, confirm_time from b_user_withdrawal
    </sql>

    <select id="selectBUserWithdrawalList" parameterType="BUserWithdrawal" resultMap="BUserWithdrawalResult">
        <include refid="selectBUserWithdrawalVo"/>
        <where>  
            <if test="depositId != null "> and deposit_id = #{depositId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="commissionAmount != null "> and commission_amount = #{commissionAmount}</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''"> and receipt_qrcode_url = #{receiptQrcodeUrl}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
            <if test="paymentUrl != null  and paymentUrl != ''"> and payment_url = #{paymentUrl}</if>
            <if test="paymentTime != null "> and payment_time = #{paymentTime}</if>
            <if test="confirmTime != null "> and confirm_time = #{confirmTime}</if>
        </where>
    </select>
    
    <select id="selectBUserWithdrawalById" parameterType="Long" resultMap="BUserWithdrawalResult">
        <include refid="selectBUserWithdrawalVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBUserWithdrawal" parameterType="BUserWithdrawal" useGeneratedKeys="true" keyProperty="id">
        insert into b_user_withdrawal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="depositId != null ">deposit_id,</if>
            <if test="username != null  and username != ''">username,</if>
            <if test="commissionAmount != null ">commission_amount,</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">receipt_qrcode_url,</if>
            <if test="orderStatus != null  and orderStatus != ''">order_status,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="paymentUrl != null  and paymentUrl != ''">payment_url,</if>
            <if test="paymentTime != null ">payment_time,</if>
            <if test="confirmTime != null ">confirm_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="depositId != null ">#{depositId},</if>
            <if test="username != null  and username != ''">#{username},</if>
            <if test="commissionAmount != null ">#{commissionAmount},</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">#{receiptQrcodeUrl},</if>
            <if test="orderStatus != null  and orderStatus != ''">#{orderStatus},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="paymentUrl != null  and paymentUrl != ''">#{paymentUrl},</if>
            <if test="paymentTime != null ">#{paymentTime},</if>
            <if test="confirmTime != null ">#{confirmTime},</if>
         </trim>
    </insert>

    <update id="updateBUserWithdrawal" parameterType="BUserWithdrawal">
        update b_user_withdrawal
        <trim prefix="SET" suffixOverrides=",">
            <if test="depositId != null ">deposit_id = #{depositId},</if>
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="commissionAmount != null ">commission_amount = #{commissionAmount},</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">receipt_qrcode_url = #{receiptQrcodeUrl},</if>
            <if test="orderStatus != null  and orderStatus != ''">order_status = #{orderStatus},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="paymentUrl != null  and paymentUrl != ''">payment_url = #{paymentUrl},</if>
            <if test="paymentTime != null ">payment_time = #{paymentTime},</if>
            <if test="confirmTime != null ">confirm_time = #{confirmTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBUserWithdrawalById" parameterType="Long">
        delete from b_user_withdrawal where id = #{id}
    </delete>

    <delete id="deleteBUserWithdrawalByIds" parameterType="String">
        delete from b_user_withdrawal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>