<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.zy.mapper.UserQrCodeoneMapper">
    
    <resultMap type="UserQrCodeone" id="UserQrCodeoneResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="receiptType"    column="receipt_type"    />
        <result property="receiptQrcodeUrl"    column="receipt_qrcode_url"    />
        <result property="receiptQrcodeCode"    column="receipt_qrcode_code"    />
        <result property="agent"    column="agent"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectUserQrCodeoneVo">
        select id, username, receipt_type, receipt_qrcode_url, receipt_qrcode_code, agent, create_time from b_user_qr_codeone
    </sql>

    <select id="selectUserQrCodeoneList" parameterType="UserQrCodeone" resultMap="UserQrCodeoneResult">
        <include refid="selectUserQrCodeoneVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="receiptType != null  and receiptType != ''"> and receipt_type = #{receiptType}</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''"> and receipt_qrcode_url = #{receiptQrcodeUrl}</if>
            <if test="receiptQrcodeCode != null  and receiptQrcodeCode != ''"> and receipt_qrcode_code = #{receiptQrcodeCode}</if>
            <if test="agent != null  and agent != ''"> and agent = #{agent}</if>
        </where>
    </select>
    
    <select id="selectUserQrCodeoneById" parameterType="Long" resultMap="UserQrCodeoneResult">
        <include refid="selectUserQrCodeoneVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertUserQrCodeone" parameterType="UserQrCodeone" useGeneratedKeys="true" keyProperty="id">
        insert into b_user_qr_codeone
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">username,</if>
            <if test="receiptType != null  and receiptType != ''">receipt_type,</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">receipt_qrcode_url,</if>
            <if test="receiptQrcodeCode != null  and receiptQrcodeCode != ''">receipt_qrcode_code,</if>
            <if test="agent != null  and agent != ''">agent,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null  and username != ''">#{username},</if>
            <if test="receiptType != null  and receiptType != ''">#{receiptType},</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">#{receiptQrcodeUrl},</if>
            <if test="receiptQrcodeCode != null  and receiptQrcodeCode != ''">#{receiptQrcodeCode},</if>
            <if test="agent != null  and agent != ''">#{agent},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateUserQrCodeone" parameterType="UserQrCodeone">
        update b_user_qr_codeone
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null  and username != ''">username = #{username},</if>
            <if test="receiptType != null  and receiptType != ''">receipt_type = #{receiptType},</if>
            <if test="receiptQrcodeUrl != null  and receiptQrcodeUrl != ''">receipt_qrcode_url = #{receiptQrcodeUrl},</if>
            <if test="receiptQrcodeCode != null  and receiptQrcodeCode != ''">receipt_qrcode_code = #{receiptQrcodeCode},</if>
            <if test="agent != null  and agent != ''">agent = #{agent},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserQrCodeoneById" parameterType="Long">
        delete from b_user_qr_codeone where id = #{id}
    </delete>

    <delete id="deleteUserQrCodeoneByIds" parameterType="String">
        delete from b_user_qr_codeone where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>